HELP.md
.classpath
.factorypath
.project
.settings
bin/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

## application.properties
src/main/resources/application.properties